node_modules/
.DS_Store
*.log
.shot*.mjs
.verify*.mjs
.shot*.mjs
.zoom.mjs
.sw*.mjs
.bonus*.mjs
.name.mjs
.logs.mjs
.rollover.mjs
.logshot.mjs
.rename.mjs
.blank.mjs
.clear.mjs
.nm.mjs
.nmshot.mjs
.hdr.mjs
.learn*.mjs
.icons.mjs
.ios.mjs
.aff*.mjs
.jr.mjs
.aff2*.mjs
